<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="Description" content="An API for quotes related to rowing.">
  <meta name="google-site-verification" content="Gh0Ydz2K9_fxqOfGN2EDLudiZO4dkyHRlv1VJMttufA" />
  <title>Rowing Quotes API</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Rowing Quotes API</h1>
  <p class="introduction">a free json api for random quotes related to rowing</p>

  <section id="usage">
    <h2>Usage</h2>
    <p><a href="/random/">/random</a> to get a random quote.</p>
    <p><a href="/random/4/">/random/:integer</a> to get x amount of quotes.</p>
    <p><a href="/quote/25">/quote/:id</a> to get the quote with the id of x.</p>
    <p><a href="/all/">/all</a> to get all available quotes.</p>
  </section>

  <section id="get-quote">
    <h2>Get a Quote</h2>
    <div class="code-example">
      <div id="refresh">Get New Quote</div>
      <blockquote>
        <q id="quote"></q>
        <cite id="author"></cite>
      </blockquote>
    </div>
  </section>
  <section id="example">
    <h2>Code Examples</h2>
    <h3>Get a random quote using the fetch API</h3>
    <pre>
        <code>fetch('https://rowing-quotes-api.herokuapp.com/random')
            .then(response => response.json())
            .then(data => {
              console.log(`${data.quote} —${data.author}`)
            })</code>
        </pre>
    <h3>Get a random quote using async/await</h3>
    <pre>
        <code>async function randomQuote() {
            const response = await fetch('https://rowing-quotes-api.herokuapp.com/random')
            const data = await response.json()
            console.log(`${data.quote} —${data.author}`)
          }</code>
      </pre>
    <br />
    <p><a href="https://github.com/vincentdoerig/rowing-quotes-api">Github</a></p>
  </section>
  <script src="script.js"></script>
</body>

</html>
